.navbar {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column(4);
    height: $baseline*6;
  }
  @media #{$large-up} {
    @include grid-column(3);
    height: $baseline*6;
  }

  @include sans-serif;
  
  ul {
    @include sans-serif;
  }
  
  li li {
    list-style: none;
    padding: 0;
    &:before {
      content: "– ";
    }
  }

  a {
    color: black;
  }
}

.navbar__container {
  // position: fixed;
  // width: 100%;
  padding-top: $baseline;
  @media #{$medium-up} {
    // width: auto;
  }
}

.navbar__toggle {
  display: none;
  // border: none;
  // float: left;
  // background-color: transparent;
  // background-image: url('../images/octo-web.png');
  // background-repeat: no-repeat;
  // cursor: pointer;

  // width: 120px;
  // height: 100px;
  // padding: 0;

  // [dir=rtl] & {
  //   float: right;
  //   transform: rotateY(180deg);
  // }
}

.navbar__header {
  height: $baseline;
}

a.navbar__name--en {
  font-size: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  float: left;
}

a.navbar__name--ar {
  float: right;
}

.navbar__lang-menu {
  margin-top: $baseline/2;
  
  .collapse & {
    display: none;
  }

  .active {
    display: none;
  }

  ul {
    list-style: none;
  }

  a {
    color: blue;
  }

  .lang-en {
    text-align: left;
  }
  .lang-ar {
    text-align: right;
  }
}

.navbar__menu {
  background: white;
  margin-top: -12px;
  clear: left;
  list-style: none;
  line-height: $baseline - 0px;
  .collapse & {
    display: none;
  }
}

.dropdown-menu {
  display: none;

  .active & {
    display: block;
  }
}

// Active menu item in blue
.active > a {
  color: blue;
}