.navbar {
  @include grid-column(12);
  @media #{$medium-up} {
    @include grid-column(4);
    height: $baseline*6;
  }
  @media #{$large-up} {
    @include grid-column(3);
    height: $baseline*6;
  }

  @include sans-serif;
  

  ul {
    @include sans-serif;
  }

  a {
    color: black;
  }
}

.navbar__container {
  position: fixed;
  width: 100%;
  padding-top: $baseline;
  @media #{$medium-up} {
    width: auto;
  }
}

.navbar__toggle {
  border: none;
  float: left;
  background-color: transparent;
  background-image: url('../images/octo-web.png');
  background-repeat: no-repeat;
  cursor: pointer;

  width: 120px;
  height: 100px;
  padding: 0;
}

a.navbar__name {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: blue;
  text-transform: uppercase;
}

.navbar__lang-menu {
  margin-top: $baseline*2;
  
  .collapse & {
    display: none;
  }

  .active {
    display: none;
  }

  ul {
    list-style: none;
  }

  a {
    color: blue;
  }
}

.navbar__menu {
  background: white;
  padding: $baseline/4 0;
  clear: left;
  list-style: none;
  line-height: $baseline - 0px;
  .collapse & {
    display: none;
  }
}

.dropdown-menu {
  display: none;

  .active & {
    display: block;
  }
}