.navbar {
  height: $baseline*6;
  font-family: $font-family-sans-serif;
  a {
    color: $black;
  }
}

.navbar .container {
  position: fixed;
  width: 100%;
  padding-top: $baseline;
}

.navbar-toggle {
  border: none;
  background: url('../images/octo-web.png') no-repeat;
  width: 100px;
  height: 100px;
}

.navbar-nav {
  background: white;
  .collapse & {
    display: none;
  }
}

.dropdown-menu {
  display: none;

  .active & {
    display: block;
  }
}