.glossary-term {
}

.glossary-term:not(.glossary-term--collapse) {
  margin-bottom: $baseline;
}

.glossary-term--collapse {
  max-height: $baseline;
  overflow: hidden;
}

.glossary-term__title {
  display: inline;
  font-size: 1rem; // $body-font-size;
  font-weight: normal;
  &:after {
    content: ":";
  }
}

.glossary-term__content,
.glossary-term__content p {
  display: inline;
}

.glossary-term__toggle {
  border: none;
  background: transparent;
  font-size: 1rem;
  padding: 0;
  height: $baseline;
  line-height: $baseline;
  outline: none;
  color: blue;
  cursor: pointer;
  margin-bottom: -$baseline;
}

.glossary-term:not(.glossary-term--collapse) + .glossary-term__toggle {
  display: none;
}

.see-glossary {
  margin: (-$baseline) 0 0;
  text-indent: $indent;
}