.pdf {
  position: absolute;
  top: 20px;
  right: 20px;
}

.pdf__link {
  display: block;
  overflow: hidden;
  text-indent: -999px;
  height: 60px;
  width: 60px;
  background: url(../images/pdf-this.png) no-repeat;
}