:focus {
  outline: none;
}

body {
  @include grid-row;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

p + h1,
p + h2,
p + h3,
p + h4,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ol + h1,
ol + h2,
ol + h3,
ol + h4 {
  margin-top: $baseline;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

main li {
  list-style: none;
  text-indent: $indent;
  padding: 0;
  &:before {
    content: "– ";
  }
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}